In [1]:
import pandas as pd

In [3]:
brand = pd.read_csv('../json파일/과정/brand.csv')
brand.head(3)

   pk           model                     name  logoimg
0   1  perfumes.brand            &OtherStories      NaN
1   2  perfumes.brand  06130ZéroSixCent-Trente      NaN
2   3  perfumes.brand              10CorsoComo      NaN

In [4]:
brand = brand[['pk', 'name']]
brand

        pk                       name
0        1              &OtherStories
1        2    06130ZéroSixCent-Trente
2        3                10CorsoComo
3        4  10PercentConsumerProducts
4        5                1000Flowers
...    ...                        ...
3251  3252             vonEusersdorff
3252  3253             vonSierstorpff
3253  3254               ÁguadeCheiro
3254  3255                ÉditionsM.R
3255  3256                    Élisire

[3256 rows x 2 columns]

In [5]:
# ['pk', 'name', thumbnail, brand(str), price]
cat1_r = pd.read_csv('../data/category1_result.csv', index_col =0)
cat8_r = pd.read_csv('../data/category8_result.csv', index_col =0)
cat10_r = pd.read_csv('../data/category10_result.csv', index_col =0)

cat1_r = cat1_r.reset_index(drop=True)
cat8_r = cat8_r.reset_index(drop=True)
cat10_r = cat10_r.reset_index(drop=True)

def brand_convert(df):
    for i in range(0,3):
        for j in range(len(brand)):
            if df['brand'][i] ==  brand['pk'][j]:
                df['brand'][i] = brand['name'][j]

In [6]:
for df in [cat1_r, cat8_r, cat10_r]:
    brand_convert(df)
cat1_r = cat1_r[['pk', 'name', 'thumbnail', 'brand', 'price']]
cat8_r = cat8_r[['pk', 'name', 'thumbnail', 'brand', 'price']]
cat10_r = cat10_r[['pk', 'name', 'thumbnail', 'brand', 'price']]

C:\Users\Playdata\AppData\Local\Temp\ipykernel_4680\665098662.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['brand'][i] = brand['name'][j]

In [8]:
cat1_r.to_csv('../data/cat1_result.csv')
cat8_r.to_csv('../data/cat8_result.csv')
cat10_r.to_csv('../data/cat10_result.csv')